<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Make</label>
    <input class="form-control" id="make" placeholder="Make" #makeInput />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Model</label>
    <input class="form-control" id="model" placeholder="Model" />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Year</label>
    <input class="form-control" id="year" placeholder="Year" />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Price</label>
    <input class="form-control" id="price" placeholder="Value in USD" />
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Fuel Type</label>
    <select class="form-control" id="fuelType">
      <option>Petrol</option>
      <option>Diesel</option>
      <option>Hybrid</option>
      <option>Electric</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Engine Power</label>
    <input class="form-control" id="hp" placeholder="horse power" />
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Transmission</label>
    <select class="form-control" id="transmission">
      <option>Manual</option>
      <option>Automatic</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Photo</label>
    <input class="form-control" id="photo" placeholder="Photo URL" />
  </div>
</form>
<button class="btn btn-primary" (click)="createOffer()">Submit</button>
