<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>{{ offer.make }} {{ offer.model }}</h3>
      <div>First registration (year):{{ offer.year }}</div>
      <div>Fuel Type: {{ offer.fuelType }}</div>
      <div>Transmission: {{ offer.transmission }}</div>
      <div>Engine power (HP): {{ offer.enginePower }}</div>
      <div>Owner email: {{ offer.creatorEmail }}</div>
      <h4 priceFormat>Price: {{ offer.price }}</h4>
    </div>
    <div class="col-sm">
      <div class="item" *ngFor="let photo of offer.photos">
        <img [src]="photo" alt="Photo not found!" />
      </div>
    </div>
  </div>
</div>
