<h1 class="text-center">Welcome to Car Market!</h1>
<!-- <app-header></app-header> -->
<div class="container">
  <div class="row">
    <div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a
            class="nav-link"
            routerLink="create-offer"
            routerLinkActive="active"
            >Create offer</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="profile" routerLinkActive="active"
            >Profile</a
          >
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="account" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <button type="button" class="btn btn-primary" (click)="onLogout()">
            Logout
          </button>
        </li>
      </ul>
      <hr />
    </div>
  </div>
  <div class="row">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
