<div class="container">
  <div
    class="row main"
    *ngFor="let offer of offers | slice: (page - 1) * pageSize:page * pageSize"
  >
    <div class="col-sm">
      <h3 class="pointer" [routerLink]="offer.id">
        {{ offer.make }} {{ offer.model }}
      </h3>
      <h4 priceFormat>Price: {{ offer.price }}</h4>
      <p>Published on {{ offer.createDate | date: "short" }}</p>
      <a [routerLink]="offer.id">See details</a>
    </div>
    <div class="col-sm">
      <img
        class="img-thumbnail img-fluid pointer"
        [src]="offer.photos[0]"
        alt="Photo not found!"
        [routerLink]="offer.id"
      />
    </div>
  </div>
  <div>
    {{ (page - 1) * pageSize + 1 }} -
    {{
      (page - 1) * pageSize + pageSize > offers.length
        ? offers.length
        : (page - 1) * pageSize + pageSize
    }}
    from {{ offers.length }} offers | Show
    <select id="PerPage" [(ngModel)]="pageSize">
      <option [ngValue]="2" selected="selected">2 Offers</option>
      <option [ngValue]="5">5 Offers</option>
      <option [ngValue]="10">10 Offers</option>
    </select>
  </div>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="offers.length"
  ></ngb-pagination>
</div>
