<div class="container">
  <div
    class="row"
    *ngFor="let offer of offers | slice: (page - 1) * pageSize:page * pageSize"
  >
    <div class="col-sm">
      <h3>{{ offer.make }} {{ offer.model }}</h3>
      <h4 priceFormat>Price: {{ offer.price }}</h4>
      <p>Published on {{ offer.createDate | date: "short" }}</p>
      <a [routerLink]="offer.id">See details</a>
    </div>
    <div class="col-sm">
      <div class="item">
        <img
          class="img-thumbnail img-fluid"
          [src]="offer.photos[0]"
          alt="Photo not found!"
        />
      </div>
    </div>
  </div>
  <div>
    {{ (page - 1) * pageSize + 1 }} -
    {{
      (page - 1) * pageSize + pageSize > offers.length
        ? offers.length
        : (page - 1) * pageSize + pageSize
    }}
    from {{ offers.length }} offers | Show
    <select>
      <option value="2" selected="selected" (click)="changePageSize(2)">
        2 Offers
      </option>
      <option value="5" (click)="changePageSize(5)">5 Offers</option>
      <option value="10" (click)="changePageSize(10)">10 Offers</option>
    </select>
  </div>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="offers.length"
  ></ngb-pagination>
</div>
