<form [formGroup]="profileForm" (ngSubmit)="onSaveChanges()">
  <div class="form-row">
    <div
      class="alert alert-success col-md-4"
      id="hideMeAfter5Seconds"
      *ngIf="isSaveChangesClicked"
    >
      <p>All changes were saved successfully!</p>
    </div>
    <div class="form-group col-md-4">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="phone">Phone number</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        formControlName="phone"
      />
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" formControlName="city" />
  </div>
  <div class="form-group col-md-6">
    <label for="street">Street Name</label>
    <input
      type="text"
      class="form-control"
      id="street"
      formControlName="street"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="streetNumber">Street number</label>
      <input
        type="number"
        class="form-control"
        id="streetNumber"
        formControlName="streetNumber"
      />
    </div>
    <div class="form-group col-md-2">
      <label for="postCode">Post Code</label>
      <input
        type="text"
        class="form-control"
        id="postCode"
        formControlName="postCode"
      />
    </div>
    <div class="form-group">
      <label for="photoURL">Photo URL</label>
      <input
        type="text"
        class="form-control"
        id="photoURL"
        formControlName="photoURL"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
